.btn-search
{
    background-color: #008CBA;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid white;
    margin-left:230px;
    margin-top:15px;
    
}
.btn-cuoc
{
    background-color: #008CBA;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid white;
    margin-left:230px;
    margin-top:15px;
    
}